*{
    margin: 0px;
    padding: 0px;
}


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

nav{
    padding: 16px 120px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.logo img{
    height: 60px;
    width: 139px;
}

.list li{
    list-style: none;
    
}
.list li a{
    text-decoration: none;
    color: black;
}
.list{
    height: 24px;
    width: 365px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
}
button{
    height: 44px;
    width: 164px;
    border-radius: 4px;
    background-color: #30B868;
    color: white;
    border: #30B868;

    color: rgba(255, 255, 255, 1);

    font-family: Inter;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-transform: capitalize;
    padding: 12px 16px 12px 16px;
}