*{
    margin: 0px;
    padding: 0px;
}


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

nav{
    padding: 16px 120px;
    height: 92px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.logo img{
    height: 60px;
    width: 139px;
}

.list li{
    list-style: none;
    
}
.list li a{
    text-decoration: none;
    color: black;
}
.list{
    height: 24px;
    width: 365px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
}
.btn1{
    height: 44px;
    width: 164px;
    border-radius: 4px;
    background-color: #30B868;
    color: white;
    border: #30B868;

    color: rgba(255, 255, 255, 1);

    font-family: Inter;
    font-style: Semi Bold;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-transform: capitalize;
    padding: 12px 16px 12px 16px;
}

.hero{
    width: 1600px;
    height: 764px;
    background: url("../assets/hero-bg.png"),rgba(0, 25, 49, 0.8);
    background-size: cover; /* image covers the section */
    background-position: center;
    background-repeat: no-repeat;

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center; */
}

.battn{
    display: flex;
    justify-content: center;
}
.btn2{
    margin-top: 162px;
width: 229px;
height: 35px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 6;
padding: 8px 12px 8px 12px;
color: #30B868;
text-transform: capitalize;
border-radius: 1000px;

font-family: Inter;
font-style: Medium;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0%;
text-align: center;

}
.text1{
    width: 1360px;
    height: 295px;
    text-align: center;
}

.sec2 h2{
text-align: center;
}
.sec2 p {
        text-align: center;
}

.card-container{
    background-color: aliceblue;
    margin-top: 100px;
    width: 1600px;
    height: 300px;
    display: flex;
    justify-content: space-around;
}

.card{
    background-color: antiquewhite;
    height: 300px;
    width: 300px;
}

.card-container2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

